 *~
.DS_Store

.project

.metadata

#claspath
.classpath
nutrisys-server/.classpath
nutrisys-webapp/.classpath  
nutrisys-webservice/.classpath

#settings
.settings
nutrisys-server/.settings
nutrisys-webapp/.settings
nutrisys-webservice/.settings


